#block-container {
    position: absolute;
    top: calc(50vh - 303px);
  }
  
  .center {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .block {
    width: 200px;
    height: 200px;
    border: 1px black solid;
    float: left;
  }
  
  .block1 {
    background-color: white;
  }
  
  .block2 {
    background-color: white;
  }
  
  .block3 {
    background-color: white;
  }
  
  .block4 {
    background-color: white;
  }
  
  .block5 {
    background-color: white;
  }
  
  .block6 {
    background-color: white;
  }
  
  .block7 {
    background-color: white;
  }
  
  .block8 {
    background-color: white;
  }
  
  .block9 {
    background-color: white;
  }

  